<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<table>
<tr th:each="client: ${clients}" >
    <td th:text="${client.client.firstName}" ></td><br />
    <td th:text="${client.client.lastName}" ></td><br />
    <td th:text="${client.client.fatherName}"></td><br />
    <td th:text="${client.client.phone}"></td><br />
    <td th:text="${client.client.email}"></td><br />
    <td th:text="${client.client.birthDay}"></td><br />
</tr>
</table>
<form th:action="@{/loging}" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" /><br/>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" /><br/>
    <input type="submit" value="Login"/>
</form>
<a th:href="@{/register}">Register</a>
</body>
</html>