<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page client</title>
</head>
<body>
<h1>Transfer from account <span th:text="${email}"></span></h1>

<h1>Your balance: <p th:text="${balance}">Balance</p></h1>

<h2>Enter the amount to transfer:</h2>
<form action="/transfer" method="post">
    Amount: <input
        type="number"
        name="amount"><br />
    To account: <input
        type="text"
        name="toEmail"><br />
    <button type="submit">Transfer</button>
</form>
<p th:text="${message}"></p>
</body>
</html>