<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Withdraw</title>
</head>
<body>
<h1>Withdraw from account <span th:text="${email}"></span></h1>

<h1>Your balance:</h1>
<p th:text="${balance}">Balance</p>
<h2>Enter the amount to withdraw:</h2>
<form th:action="@{/withdraw}" method="post">
    Amount: <input type="number" name="amount"><br/>
    <input type="submit" value="Withdraw"/>
</form>
<p th:text="${message}"></p>


</body>
</html>
